{{ define "title" }}Parallax{{ end }}

{{ define "spotlight" }}
<div class="row">
</div>
{{ end }}

{{ define "content" }}
<div class="parallax-wrapper">
	<div class="parallax-background"></div>
	<div id="parallax1">
		BOX 1
	</div>
	<div id="parallax2">
		Maecenas ultrices, urna quis rutrum auctor, velit quam blandit dui, sed elementum mi augue vehicula libero. Praesent odio arcu, scelerisque vitae gravida ut, vulputate nec arcu. In rutrum odio neque, ac ornare orci posuere in. Donec pellentesque felis in rhoncus mattis. Duis sit amet congue mauris. Donec dictum, augue ut.
	</div>
	<div id="parallax3">
		Cras placerat tellus et sodales ultrices. Maecenas ut dapibus tellus, vel pretium felis. In odio odio, porttitor id urna at.
	</div>
</div>
{{ end }}
