{{ define "title" }}Parallax{{ end }}

{{ define "spotlight" }}
<div class="row">
</div>
{{ end }}

{{ define "content" }}
<div class="parallax-wrapper">
	<div class="parallax-background"></div>
	<div id="parallax1">
		Spinning box
	</div>
	<div id="parallax2">
		This is a simple parallax page. Try scrolling to see what it does.
	</div>
	<div id="parallax3">
		Cras placerat tellus et sodales ultrices. Maecenas ut dapibus tellus, vel pretium felis. In odio odio, porttitor id urna at.
	</div>
</div>
{{ end }}
