{{ define "title" }}My first APP{{ end }}

{{ define "content" }}
    <section class="page404">
        <div class="row">
            <div class="col12">
                Error 404. Page not found.
            </div>
        </div>
        <div class="row">
            <div class="col12">
                The page you're after doesn't exist anymore! or maybe it never existed in the first place. It's most likely my fault, though, not yours. So, the best thing you can do from here is check to see if you typed the address correctly, or head on over to Google and try another search. I've heard Google are pretty good at that sort of thing.
            </div>
        </div>
    </section>
{{ end }}
