body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, th, var {
  font-style: normal;
  font-weight: normal; }

ol, ul {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0; }

article, aside, dialog, figure, footer, header, hgroup, nav, section {
  display: block;
  zoom: 1; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

h1, h2, h3, h4 {
  margin: 1em 0 1em 0; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.75em; }

h3 {
  font-size: 1.5em; }

h4 {
  font-size: 1.4em; }

h5 {
  font-size: 1.3em; }

h6 {
  font-size: 1.2em; }

small {
  font-size: 0.85em; }

ul li, ol li {
  list-style: none; }

strong, b {
  font-weight: bold; }

em, i {
  font-style: italic; }

p {
  margin-bottom: 1em; }

img, object, embed {
  height: auto;
  max-width: 100%; }

/* *********************************************************************************************************************
 * Grid System Styling
 */
#contents {
  margin: 0 auto;
  padding: 0 0 0 1%;
  max-width: 1020px; }

.row {
  clear: both;
  padding: 0 10px; }

.col1 {
  float: left;
  margin: 0 3% 0 0;
  width: 5.5%; }
  .col1.last {
    margin: 0; }
  .col1 img {
    width: 100%;
    height: auto;
    display: block; }

.col2 {
  float: left;
  margin: 0 3% 0 0;
  width: 14%; }
  .col2.last {
    margin: 0; }
  .col2 img {
    width: 100%;
    height: auto;
    display: block; }

.col3 {
  float: left;
  margin: 0 3% 0 0;
  width: 22.5%; }
  .col3.last {
    margin: 0; }
  .col3 img {
    width: 100%;
    height: auto;
    display: block; }

.col4 {
  float: left;
  margin: 0 3% 0 0;
  width: 31%; }
  .col4.last {
    margin: 0; }
  .col4 img {
    width: 100%;
    height: auto;
    display: block; }

.col5 {
  float: left;
  margin: 0 3% 0 0;
  width: 39.5%; }
  .col5.last {
    margin: 0; }
  .col5 img {
    width: 100%;
    height: auto;
    display: block; }

.col6 {
  float: left;
  margin: 0 3% 0 0;
  width: 48%; }
  .col6.last {
    margin: 0; }
  .col6 img {
    width: 100%;
    height: auto;
    display: block; }

.col7 {
  float: left;
  margin: 0 3% 0 0;
  width: 56.5%; }
  .col7.last {
    margin: 0; }
  .col7 img {
    width: 100%;
    height: auto;
    display: block; }

.col8 {
  float: left;
  margin: 0 3% 0 0;
  width: 65%; }
  .col8.last {
    margin: 0; }
  .col8 img {
    width: 100%;
    height: auto;
    display: block; }

.col9 {
  float: left;
  margin: 0 3% 0 0;
  width: 73.5%; }
  .col9.last {
    margin: 0; }
  .col9 img {
    width: 100%;
    height: auto;
    display: block; }

.col10 {
  float: left;
  margin: 0 3% 0 0;
  width: 82%; }
  .col10.last {
    margin: 0; }
  .col10 img {
    width: 100%;
    height: auto;
    display: block; }

.col11 {
  float: left;
  margin: 0 3% 0 0;
  width: 90.5%; }
  .col11.last {
    margin: 0; }
  .col11 img {
    width: 100%;
    height: auto;
    display: block; }

.col12 {
  float: left;
  margin: 0 3% 0 0;
  width: 99%;
  margin: 0; }
  .col12.last {
    margin: 0; }
  .col12 img {
    width: 100%;
    height: auto;
    display: block; }

@media all and (min-width: 1024px) {
  #contents {
    max-width: 1000px; }

  #contents .row {
    padding: 0; } }
@media all and (max-width: 768px) {
  .col1 {
    float: none;
    width: 99%; }

  .col2 {
    float: none;
    width: 99%; }

  .col3 {
    float: none;
    width: 99%; }

  .col4 {
    float: none;
    width: 99%; }

  .col5 {
    float: none;
    width: 99%; }

  .col6 {
    float: none;
    width: 99%; }

  .col7 {
    float: none;
    width: 99%; }

  .col8 {
    float: none;
    width: 99%; }

  .col9 {
    float: none;
    width: 99%; }

  .col10 {
    float: none;
    width: 99%; }

  .col11 {
    float: none;
    width: 99%; } }
/* ****************************************************************************************************************** */
body {
  background-color: whitesmoke;
  font-family: Verdana, Helvetica, sans-serif;
  border-top: 15px solid #f3efe0;
  color: #936a4a;
  font-size: 1em;
  line-height: 1.4; }

a {
  cursor: pointer;
  text-decoration: none; }
  a.gray {
    color: gray; }
    a.gray:hover {
      color: #4d4d4d;
      border: 2px dashed black; }

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 4px 0 2px;
  background-color: #f3efe0;
  color: gray; }
  footer div {
    padding: 3px 0; }

.footer-left {
  text-align: left; }

.footer-right {
  text-align: right; }

@media all and (max-width: 768px) {
  .footer-left, .footer-right {
    text-align: center; } }
.page404 {
  text-align: center; }
