/*
    Description: Main CSS styles
    Author: Kevin Tjahjadi
*/
/* - CONTENTS
-------------------------------------------------
    - SASS Imports ......................... 1.0.
        - CSS Reset ........................ 1.1.
        - Grid ............................. 1.2.
        - Colours .......................... 1.3.
        - Mixins ............................1.4.
        - Base Elements .................... 1.5.
        - Link Elements .................... 1.6.
        - Font Face ........................ 1.7.
    - Global ............................... 2.0.
        - Structural ....................... 2.1.
        - Build Elements ................... 2.2.
*/
/*********************************************
    - 1.0 -  SASS IMPORTS
*********************************************/
/* - 1.1. - RESETS
------------------------------------------ */
/* ****************************************************************************
 * CSS Reset
 */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, th, var {
  font-style: normal;
  font-weight: normal; }

ol, ul {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0; }

/* ************************************************************************* */
/* ****************************************************************************
 * HTML5 Reset
 */
article, aside, dialog, figure, footer, header, hgroup, nav, section {
  display: block;
  zoom: 1; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/* ************************************************************************* */
/* - 1.2. - GRID
------------------------------------------ */
/* ****************************************************************************
 * Grid System Styling
 */
.wrapper {
  margin: 0 auto;
  max-width: 1000px; }

.row .span1 {
  float: left;
  margin-left: 5.5%; }
.row .span2 {
  float: left;
  margin-left: 5.5%; }
.row .span3 {
  float: left;
  margin-left: 5.5%; }
.row .span4 {
  float: left;
  margin-left: 5.5%; }
.row .span5 {
  float: left;
  margin-left: 5.5%; }
.row .span6 {
  float: left;
  margin-left: 5.5%; }
.row .span7 {
  float: left;
  margin-left: 5.5%; }
.row .span8 {
  float: left;
  margin-left: 5.5%; }
.row .span9 {
  float: left;
  margin-left: 5.5%; }
.row .span10 {
  float: left;
  margin-left: 5.5%; }
.row .span11 {
  float: left;
  margin-left: 5.5%; }
.row .span12 {
  float: left;
  margin-left: 5.5%; }
.row .span1 {
  width: 3.29167%; }
.row .span2 {
  width: 12.08333%; }
  .row .span2 .span1 {
    margin-left: 45.51724%;
    width: 27.24138%; }
.row .span3 {
  width: 20.875%; }
  .row .span3 .span1 {
    margin-left: 26.34731%;
    width: 15.76846%; }
  .row .span3 .span2 {
    margin-left: 26.34731%;
    width: 57.88423%; }
.row .span4 {
  width: 29.66667%; }
  .row .span4 .span1 {
    margin-left: 18.53933%;
    width: 11.09551%; }
  .row .span4 .span2 {
    margin-left: 18.53933%;
    width: 40.73034%; }
  .row .span4 .span3 {
    margin-left: 18.53933%;
    width: 70.36517%; }
.row .span5 {
  width: 38.45833%; }
  .row .span5 .span1 {
    margin-left: 14.30119%;
    width: 8.55905%; }
  .row .span5 .span2 {
    margin-left: 14.30119%;
    width: 31.41928%; }
  .row .span5 .span3 {
    margin-left: 14.30119%;
    width: 54.27952%; }
  .row .span5 .span4 {
    margin-left: 14.30119%;
    width: 77.13976%; }
.row .span6 {
  width: 47.25%; }
  .row .span6 .span1 {
    margin-left: 11.64021%;
    width: 6.96649%; }
  .row .span6 .span2 {
    margin-left: 11.64021%;
    width: 25.57319%; }
  .row .span6 .span3 {
    margin-left: 11.64021%;
    width: 44.17989%; }
  .row .span6 .span4 {
    margin-left: 11.64021%;
    width: 62.7866%; }
  .row .span6 .span5 {
    margin-left: 11.64021%;
    width: 81.3933%; }
.row .span7 {
  width: 56.04167%; }
  .row .span7 .span1 {
    margin-left: 9.81413%;
    width: 5.87361%; }
  .row .span7 .span2 {
    margin-left: 9.81413%;
    width: 21.56134%; }
  .row .span7 .span3 {
    margin-left: 9.81413%;
    width: 37.24907%; }
  .row .span7 .span4 {
    margin-left: 9.81413%;
    width: 52.9368%; }
  .row .span7 .span5 {
    margin-left: 9.81413%;
    width: 68.62454%; }
  .row .span7 .span6 {
    margin-left: 9.81413%;
    width: 84.31227%; }
.row .span8 {
  width: 64.83333%; }
  .row .span8 .span1 {
    margin-left: 8.48329%;
    width: 5.07712%; }
  .row .span8 .span2 {
    margin-left: 8.48329%;
    width: 18.63753%; }
  .row .span8 .span3 {
    margin-left: 8.48329%;
    width: 32.19794%; }
  .row .span8 .span4 {
    margin-left: 8.48329%;
    width: 45.75835%; }
  .row .span8 .span5 {
    margin-left: 8.48329%;
    width: 59.31877%; }
  .row .span8 .span6 {
    margin-left: 8.48329%;
    width: 72.87918%; }
  .row .span8 .span7 {
    margin-left: 8.48329%;
    width: 86.43959%; }
.row .span9 {
  width: 73.625%; }
  .row .span9 .span1 {
    margin-left: 7.47029%;
    width: 4.47085%; }
  .row .span9 .span2 {
    margin-left: 7.47029%;
    width: 16.412%; }
  .row .span9 .span3 {
    margin-left: 7.47029%;
    width: 28.35314%; }
  .row .span9 .span4 {
    margin-left: 7.47029%;
    width: 40.29428%; }
  .row .span9 .span5 {
    margin-left: 7.47029%;
    width: 52.23543%; }
  .row .span9 .span6 {
    margin-left: 7.47029%;
    width: 64.17657%; }
  .row .span9 .span7 {
    margin-left: 7.47029%;
    width: 76.11771%; }
  .row .span9 .span8 {
    margin-left: 7.47029%;
    width: 88.05886%; }
.row .span10 {
  width: 82.41667%; }
  .row .span10 .span1 {
    margin-left: 6.67341%;
    width: 3.99393%; }
  .row .span10 .span2 {
    margin-left: 6.67341%;
    width: 14.66127%; }
  .row .span10 .span3 {
    margin-left: 6.67341%;
    width: 25.32861%; }
  .row .span10 .span4 {
    margin-left: 6.67341%;
    width: 35.99596%; }
  .row .span10 .span5 {
    margin-left: 6.67341%;
    width: 46.6633%; }
  .row .span10 .span6 {
    margin-left: 6.67341%;
    width: 57.33064%; }
  .row .span10 .span7 {
    margin-left: 6.67341%;
    width: 67.99798%; }
  .row .span10 .span8 {
    margin-left: 6.67341%;
    width: 78.66532%; }
  .row .span10 .span9 {
    margin-left: 6.67341%;
    width: 89.33266%; }
.row .span11 {
  width: 91.20833%; }
  .row .span11 .span1 {
    margin-left: 6.03015%;
    width: 3.60895%; }
  .row .span11 .span2 {
    margin-left: 6.03015%;
    width: 13.24806%; }
  .row .span11 .span3 {
    margin-left: 6.03015%;
    width: 22.88716%; }
  .row .span11 .span4 {
    margin-left: 6.03015%;
    width: 32.52627%; }
  .row .span11 .span5 {
    margin-left: 6.03015%;
    width: 42.16537%; }
  .row .span11 .span6 {
    margin-left: 6.03015%;
    width: 51.80448%; }
  .row .span11 .span7 {
    margin-left: 6.03015%;
    width: 61.44358%; }
  .row .span11 .span8 {
    margin-left: 6.03015%;
    width: 71.08269%; }
  .row .span11 .span9 {
    margin-left: 6.03015%;
    width: 80.72179%; }
  .row .span11 .span10 {
    margin-left: 6.03015%;
    width: 90.3609%; }
.row .span12 {
  width: 100%; }
  .row .span12 .span1 {
    margin-left: 5.5%;
    width: 3.29167%; }
  .row .span12 .span2 {
    margin-left: 5.5%;
    width: 12.08333%; }
  .row .span12 .span3 {
    margin-left: 5.5%;
    width: 20.875%; }
  .row .span12 .span4 {
    margin-left: 5.5%;
    width: 29.66667%; }
  .row .span12 .span5 {
    margin-left: 5.5%;
    width: 38.45833%; }
  .row .span12 .span6 {
    margin-left: 5.5%;
    width: 47.25%; }
  .row .span12 .span7 {
    margin-left: 5.5%;
    width: 56.04167%; }
  .row .span12 .span8 {
    margin-left: 5.5%;
    width: 64.83333%; }
  .row .span12 .span9 {
    margin-left: 5.5%;
    width: 73.625%; }
  .row .span12 .span10 {
    margin-left: 5.5%;
    width: 82.41667%; }
  .row .span12 .span11 {
    margin-left: 5.5%;
    width: 91.20833%; }
.row > :first-child,
.row .row > :first-child {
  margin-left: 0; }

.row:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden; }

.lte7 .row {
  height: 1%; }

@media all and (min-width: 1024px) {
  .wrapper {
    max-width: 1000px; } }
@media all and (max-width: 768px) {
  .row .span1 {
    float: none;
    width: 100%;
    margin-left: 0;
    text-align: center; }
  .row .span2 {
    float: none;
    width: 100%;
    margin-left: 0;
    text-align: center; }
  .row .span3 {
    float: none;
    width: 100%;
    margin-left: 0;
    text-align: center; }
  .row .span4 {
    float: none;
    width: 100%;
    margin-left: 0;
    text-align: center; }
  .row .span5 {
    float: none;
    width: 100%;
    margin-left: 0;
    text-align: center; }
  .row .span6 {
    float: none;
    width: 100%;
    margin-left: 0;
    text-align: center; }
  .row .span7 {
    float: none;
    width: 100%;
    margin-left: 0;
    text-align: center; }
  .row .span8 {
    float: none;
    width: 100%;
    margin-left: 0;
    text-align: center; }
  .row .span9 {
    float: none;
    width: 100%;
    margin-left: 0;
    text-align: center; }
  .row .span10 {
    float: none;
    width: 100%;
    margin-left: 0;
    text-align: center; }
  .row .span11 {
    float: none;
    width: 100%;
    margin-left: 0;
    text-align: center; }
  .row .span12 {
    float: none;
    width: 100%;
    margin-left: 0;
    text-align: center; } }
/* ************************************************************************* */
/* - 1.3. - COLOURS
------------------------------------------ */
/* - 1.4. - MIXINS
------------------------------------------ */
/* - 1.5. - BASE ELEMENTS
------------------------------------------ */
/* ****************************************************************************
 * BASE ELEMENTS
 */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.75em; }

h3 {
  font-size: 1.5em; }

h4 {
  font-size: 1.4em; }

h5 {
  font-size: 1.3em; }

h6 {
  font-size: 1.2em; }

small {
  font-size: 0.85em; }

ul li, ol li {
  list-style: none; }

strong, b {
  font-weight: bold; }

em, i {
  font-style: italic; }

p {
  margin-bottom: 0.8em;
  line-height: 1.8em; }

img, object, embed {
  height: auto;
  max-width: 100%; }

.clear {
  clear: both; }

/* ************************************************************************* */
/* - 1.6. - LINK ELEMENTS
------------------------------------------ */
/*
    Description: Links and buttons
    Author: Kevin Tjahjadi
*/
/* - CONTENTS
-------------------------------------------------
    - LINKS ................................ 1.0.
        - Base link styles ................. 1.1.
        - Header links ..................... 1.2.
        - Footer links ..................... 1.3.
        - Title links ...................... 1.4.
    - BUTTONS .............................. 2.0.
*/
/*********************************************
    - 1.0 -  LINKS
*********************************************/
/* - 1.1. - BASE LINK STYLES
------------------------------------------ */
a {
  color: #e9e581;
  cursor: pointer;
  text-decoration: none;
  outline: 0;
  /* Improve readability when focused and hovered in all browsers: h5bp.com/h */ }
  a:visited {
    color: #e9e581; }
  a:hover {
    color: #de1b1b;
    text-decoration: none; }
  a:focus, a:active {
    outline: none; }

/* - 1.2. - HEADER LINKS
------------------------------------------ */
header a {
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  border-radius: 14px;
  padding: 5px 20px;
  background-color: #f6f6f6;
  color: #2b2b2b;
  line-height: 1.1em; }
header a:visited {
  color: #2b2b2b; }
header a:hover {
  font-size: 1.1em;
  color: #2b2b2b; }

/* - 1.3. - FOOTER LINKS
------------------------------------------ */
footer a, footer a:visited, footer a:hover {
  color: #f6f6f6;
  line-height: 1.1em; }
footer a:hover {
  font-size: 1.1em; }

/* - 1.4. - TITLE LINKS
------------------------------------------ */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #2b2b2b; }

/*********************************************
    - 2.0 -  BUTTONS
*********************************************/
a.button {
  border: 1px solid #535050;
  color: #FFFFFF;
  display: inline-block;
  float: left;
  margin-bottom: 0.625em;
  outline: 0 none;
  padding: 0.438em 0.938em;
  width: auto;
  -moz-border-radius: 0.188em;
  -webkit-border-radius: 0.188em;
  border-radius: 0.188em; }
  a.button:hover {
    color: #ffffff;
    text-decoration: none; }
  a.button:active {
    opacity: 0.9; }

a.button-full-width {
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-align: center;
  width: 100%; }

/* Fix for odd Mozilla border & padding issues */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* - 1.7. - FONT FACE
------------------------------------------ */
/*
    Description: Font-face
    Author: Kevin Tjahjadi
/*


/* - CONTENTS
-------------------------------------------------
    - FONT_FACE  ........................... 1.0.
        - Name of Font ..................... 3.1.

*/
/*********************************************
    - 1.0 -  MIXINS
*********************************************/
/* - 1.1. - Name of Font
------------------------------------------ */
@font-face {
  font-family: 'NAME OF FONT';
  src: url("assets/fonts/NAME OF FONT.eot");
  src: url("assets/fonts/NAME OF FONT.eot?#iefix") format("embedded-opentype"), url("assets/fonts/NAME OF FONT.woff") format("woff"), url("assets/fonts/NAME OF FONT.ttf") format("truetype"), url("assets/fonts/NAME OF FONT.svg#wisdom_script_airegular") format("svg");
  font-weight: normal;
  font-style: normal; }

/*********************************************
    - 2.0 -  GLOBAL
*********************************************/
/* - 2.1. - STRUCTURAL
------------------------------------------ */
html {
  height: 100%;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  height: 100%;
  margin: 0;
  font-family: Lucida Grande, Lucida Sans Unicode, Verdana, sans-serif;
  font-size: 1em;
  line-height: 1.4;
  background-color: #f6f6f6; }

header {
  padding: 20px 0;
  text-align: center;
  background-color: #2b2b2b; }

footer {
  background-color: #2b2b2b;
  color: #f6f6f6;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 4px 0 2px; }
  footer div {
    padding: 3px 0; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.center {
  text-align: center; }

.justify {
  text-align: justify; }

.full-height {
  height: 100%; }

/* - 2.2. - BUILD ELEMENTS
------------------------------------------ */
.hide {
  display: none; }

.center-align {
  text-align: center; }

.base.wrapper {
  box-sizing: border-box;
  height: 100%;
  margin-top: -62px;
  padding-top: 62px;
  margin-bottom: -40px;
  padding-bottom: 40px; }

.page-list {
  height: 100%;
  background-color: #2b2b2b;
  color: #f6f6f6; }
