html, body {
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
    width: 100%;
    font-family: Verdana, Helvetica, sans-serif;
    background-color: #DDDDDD;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    text-align: center;
}
