/* *********************************************************************************************************************
 * Grid System Styling
 */
 // was 5.5, 3
 // check out 36 64 design
$column: 6.5%;
$gutter: 2%;

.contents {
    margin: 0 auto;
    padding: 0;
    max-width: 1000px;
}

.row {
    clear: both;
    padding: 0 10px;
}

@for $i from 1 through 12 {
    .col#{$i} {
        float: left;
        margin: 0 $gutter 0 0;
        width: $column * $i + $gutter * ($i - 1);
        @if $i == 12 {
            margin: 0;
        }
        &.last {
            margin-right: 0;
        }
        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }
}

@media all and (min-width: 1024px) {
    .contents {
        max-width: 1000px;
    }

    .contents .row {
        padding: 0;
    }
}

@media all and (max-width: 768px) {
    .row {
    }

    @for $i from 1 through 11 {
        .col#{$i} {
            float: none;
            width: 100%;
        }
    }
}
/* ****************************************************************************************************************** */
