@import "prefixer";
@import "border-radius";
@import "grid";

// $orange: #E86731;
$blue-l: #9FB2B3;
$blue-n: #77A7DF;
$blue-d: #40484A;
$blue-l-hover: #778A8B;
$gray-l: #F2F2F2;
$gray-n: #808080;
$gray-d: #4D4D4D;
$green-l: #748d42;
$green-n: #95A678;
$green-d: #546E3C;

$dashed-border: 1px dashed #bfbfbf;

html, body {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
    background-color: $gray-l;
    font-family: Verdana, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    &.gray {
        color: $gray-l;
        &:hover {
            color: $gray-d;
        }
    }
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: $gray-n;
    color: $gray-l;
}

.footer-left {
    text-align: left;
}

.footer-right {
    text-align: right;
}

@media all and (max-width: 768px) {
    .footer-left, .footer-right {
        text-align: center;
    }
}

.page404 {
    text-align: center;
}
