/*
    Description: Main CSS styles
    Author: Kevin Tjahjadi
*/
/* - CONTENTS
-------------------------------------------------
    - SASS Imports ......................... 1.0.
        - CSS Reset ........................ 1.1.
        - Grid ............................. 1.2.
        - Colours .......................... 1.3.
        - Mixins ............................1.4.
        - Base Elements .................... 1.5.
        - Link Elements .................... 1.6.
        - Font Face ........................ 1.7.
    - Global ............................... 2.0.
        - Structural ....................... 2.1.
        - Build Elements ................... 2.2.
*/

/*********************************************
    - 1.0 -  SASS IMPORTS
*********************************************/

    /* - 1.1. - RESETS
    ------------------------------------------ */

    @import "imports/reset";


    /* - 1.2. - GRID
    ------------------------------------------ */

    @import "imports/grid";


    /* - 1.3. - COLOURS
    ------------------------------------------ */

    @import "imports/colours";


    /* - 1.4. - MIXINS
    ------------------------------------------ */

    @import "imports/mixins";

    /* - 1.5. - BASE ELEMENTS
    ------------------------------------------ */

    @import "imports/base-elements";

    /* - 1.6. - LINK ELEMENTS
    ------------------------------------------ */

    @import "imports/links";

    /* - 1.7. - FONT FACE
    ------------------------------------------ */

    @import "imports/font-face";

/*********************************************
    - 2.0 -  GLOBAL
*********************************************/


    /* - 2.1. - STRUCTURAL
    ------------------------------------------ */

    html {
        height: 100%;
        font-size: 100%;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
    }

    body {
        height: 100%;
        margin: 0;
        font-family: Lucida Grande, Lucida Sans Unicode, Verdana, sans-serif;
        font-size: 1em;
        line-height: 1.4;
        background-color: $background-color;
    }

    header {
        padding: 20px 0;
        text-align: center;
        background-color: $black;
    }

    footer {
        z-index: 1000;
        background-color: $footer;
        color: $footer-text;
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 4px 0 2px;

        div {
            padding: 3px 0;
        }
    }

    .left { text-align: left }
    .right { text-align: right }
    .center { text-align: center }
    .justify { text-align: justify }
    .border-box { box-sizing: border-box }

    .full-height { height: 100% }

    /* - 2.2. - BUILD ELEMENTS
    ------------------------------------------ */

    .hide {
        display: none;
    }

    .center-align {
        text-align: center;
    }

    .base.wrapper {
        box-sizing: border-box;
        min-height: 100%;
        margin-top: -62px;
        padding-top: 62px;
        margin-bottom: -40px;
        padding-bottom: 40px;
    }

    .grid-demo {
        margin-top: 10px;
        &.last {
            padding-bottom: 10px;
        }
        div {
            min-height: 1em;
            background-color: $black;
            color: $white;
        }
        .whitebg {
            background-color: $white;
            color: $black;
        }
        .pad {
            box-sizing: border-box;
            padding: 10px;
        }
    }

    .parallax-wrapper {
        height: 2000px;
    }
    .parallax-background {
        position: fixed;
        left: 400px;
        width: 400px;
        height: 400px;
        display: block;
        background: url('/images/torchlight_avatars/Torchlight_avatar_1.jpg') center;
    }
    #parallax1 {
        background-color: $red;
        color: $white;
        z-index: 3;
        position: fixed;
        left: 400px; /* align left edge with center of viewport */
        top: 100px;
        width: 100px;
        margin-left: -50px; /* move left by half element's width */
    }
    #parallax2 {
        background-color: $black;
        color: $white;
        z-index: 1;
        position: fixed;
        left: 100px; //align left edge with center of viewport
        top: 200px;
        width: 400px;
        margin-left: -11px; /* move left by half element's width */
    }
    #parallax3 {
        background-color: gray;
        color: $white;
        z-index: 2;
        position: fixed;
        left: 60%; //align left edge with center of viewport
        top: 300px;
        width: 400px;
        margin-left: -11px; /* move left by half element's width */
    }
