/*
    Description: Main CSS styles
    Author: Kevin Tjahjadi
*/
/* - CONTENTS
-------------------------------------------------
    - SASS Imports ......................... 1.0.
        - CSS Reset ........................ 1.1.
        - Grid ............................. 1.2.
        - Colours .......................... 1.3.
        - Mixins ............................1.4.
        - Base Elements .................... 1.5.
        - Link Elements .................... 1.6.
        - Font Face ........................ 1.7.
    - Global ............................... 2.0.
        - Structural ....................... 2.1.
        - Build Elements ................... 2.2.
*/

/*********************************************
    - 1.0 -  SASS IMPORTS
*********************************************/

    /* - 1.1. - RESETS
    ------------------------------------------ */

    @import "imports/reset";


    /* - 1.2. - GRID
    ------------------------------------------ */

    @import "imports/grid";


    /* - 1.3. - COLOURS
    ------------------------------------------ */

    @import "imports/colours";


    /* - 1.4. - MIXINS
    ------------------------------------------ */

    @import "imports/mixins";

    /* - 1.5. - BASE ELEMENTS
    ------------------------------------------ */

    @import "imports/base-elements";

    /* - 1.6. - LINK ELEMENTS
    ------------------------------------------ */

    @import "imports/links";

    /* - 1.7. - FONT FACE
    ------------------------------------------ */

    @import "imports/font-face";

/*********************************************
    - 2.0 -  GLOBAL
*********************************************/


    /* - 2.1. - STRUCTURAL
    ------------------------------------------ */

    html {
        font-size: 100%;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
    }

    body {
        margin: 0;
        font-family: Geneva, Lucida Sans, Lucida Grande, Lucida Sans Unicode, Verdana, sans-serif;
        font-size: 1em;
        line-height: 1.4;
        background-color: $background-color;
    }

    header {
        padding: 20px 0;
        text-align: center;
        background-color: $black;
    }

    footer {
        background-color: $footer;
        color: $footer-text;
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 4px 0 2px;

        div {
            padding: 3px 0;
        }
    }

    .left { text-align: left }
    .right { text-align: right }
    .center { text-align: center }

    /* - 2.2. - BUILD ELEMENTS
    ------------------------------------------ */

    .hide {
        display: none;
    }

    .center-align {
        text-align: center;
    }
