{{ define "title" }}My first APP{{ end }}

{{ define "content" }}
<div class="row full-height">
	<div class="span8">
        <h1>Kevin Tjahjadi</h1>
        <p class="justify">
            Hi my name is Kevin&nbspTjahjadi and I'm currently employed as Web Developer at <strong>PT.&nbspUser&nbspInspired</strong>.
        </p>
        <p class="justify">
            I recently graduated <strong>BINUS&nbspInternational</strong> University under <strong>Computer&nbspScience</strong> major in July&nbsp2013.
        </p>
        <p class="justify">
            I learned a lot during my university years. One time me and my friends developed <strong><a href="https://itunes.apple.com/app/passion-of-jesus/id604395834?mt=8">Passion of Jesus</a></strong>, an iOS app developed to motivate individuals to cherish a tender devotion towards The Lord Almighty.<br>
            It was developed with Lent in mind. It contains Passion images of the events as found in Scripture and Sacred Tradition. Each images also contain reflections taken directly from the collective writings of Saint Alphonsus de Ligouri.
        </p>
        <p class="justify">
            Thinking back to my university years, I spent majority of my time developing mobile projects. Now that I'm working in a web development company, I'm thinking of making a test website to practise my web development skill, thus born this website.
        </p>
        <p>
            This website is built on <a href="https://developers.google.com/appengine/">GAE</a> and <a href="http://golang.org/">GoLang</a>.
        </p>
    </div>
   	<div class="span4">
        <p>
            “Tell me and I forget, teach me and I may remember, involve me and I learn.” ― Benjamin Franklin
        </p>
        <h1>Practice Pages</h1>
        <p>
            Here I will be sharing pages where I test out some web functionalities. If you are interested in any of it and/or have any suggestion for me to improve it, you can contact me through any of the social media listed in the footer of this website.
        </p>
        <a href="/grid">Grid System</a>
        <a href="/parallax">Parallax</a>
    </div>
</div>
{{ end }}
