/* ****************************************************************************
 * Grid System Styling
 */

$cols: 12;
$gutter: 3.5%;

$one_col: (100% - ($gutter * ($cols - 1))) / $cols;

@mixin cols($num) {
    width: ($one_col * $num) + ($gutter * ($num - 1));
}

@mixin sub_cols($num_child, $num_parent) {
    $parent_size: ($one_col * $num_parent) + ($gutter * ($num_parent - 1));
    $child_size: ($one_col * $num_child) + ($gutter * ($num_child - 1));
    margin-left: ($gutter / $parent_size) * 100%;
    width: ($child_size / $parent_size) * 100%;
}

.wrapper {
    margin: 0 auto;
    max-width: 1000px;
}

.row {
    @for $i from 1 through $cols {
        .span#{$i}{
            float: left;
            margin-left: $gutter;
        }
    }

    @for $i from 1 through $cols {
        .span#{$i} {
            @include cols($i);

            @for $j from 1 through ($i - 1) {
                .span#{$j} {
                    @include sub_cols($j, $i);
                }
            }
        }
    }

    > :first-child,
    .row > :first-child {
        margin-left: 0;
    }
}

.row:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.lte7 .row {
    height: 1%;
}

@media all and (min-width: 1024px) {
    .wrapper {
        max-width: 1000px;
    }
}

@media all and (max-width: 768px) {
    .row{
        @for $i from 1 through $cols {
            .span#{$i} {
                float: none;
                width: 100%;
                margin-left: 0;
                text-align: center;
                @for $j from 1 through ($i - 1) {
                    .span#{$j} {
                        float: none;
                        width: 100%;
                        margin-left: 0;
                        text-align: center;
                    }
                }
            }
        }
    }
}

/* ************************************************************************* */
