{{ define "title" }}Grid System{{ end }}

{{ define "content" }}
<div class="row grid-demo">
	<div class="span12 pad">
		This is a grid system I develop myself after studying some other existing grid system out there. I made it easily customizable so I could easily use it in different configuration if needs be.
	</div>
</div>
<div class="row grid-demo">
	<div class="span6">
		This is a grid is also responsive, try resizing your browser page (if you are not in mobile) and see the contents readjust itself.
	</div>
	<div class="span6">
		This demo showcases the standard 12 grids.
		<div class="row">
			<div class="span3 whitebg">
				Span 3
			</div>
			<div class="span3 whitebg">
				Span 3
			</div>
		</div>
		It also allows secondary nested grid like the above.
	</div>
</div>
<div class="row grid-demo">
	<div class="span12 center pad">12</div>
</div>
<div class="row grid-demo">
	<div class="span6 center pad">6</div>
	<div class="span6 center pad">6</div>
</div>
<div class="row grid-demo">
	<div class="span4 center pad">4</div>
	<div class="span4 center pad">4</div>
	<div class="span4 center pad">4</div>
</div>
<div class="row grid-demo">
	<div class="span3 center pad">3</div>
	<div class="span3 center pad">3</div>
	<div class="span3 center pad">3</div>
	<div class="span3 center pad">3</div>
</div>
<div class="row grid-demo">
	<div class="span2 center pad">2</div>
	<div class="span2 center pad">2</div>
	<div class="span2 center pad">2</div>
	<div class="span2 center pad">2</div>
	<div class="span2 center pad">2</div>
	<div class="span2 center pad">2</div>
</div>
<div class="row grid-demo">
	<div class="span1 center pad">1</div>
	<div class="span1 center pad">1</div>
	<div class="span1 center pad">1</div>
	<div class="span1 center pad">1</div>
	<div class="span1 center pad">1</div>
	<div class="span1 center pad">1</div>
	<div class="span1 center pad">1</div>
	<div class="span1 center pad">1</div>
	<div class="span1 center pad">1</div>
	<div class="span1 center pad">1</div>
	<div class="span1 center pad">1</div>
	<div class="span1 center pad">1</div>
</div>
<div class="row grid-demo">
	<div class="span7 center pad">7</div>
	<div class="span3 center pad">3</div>
	<div class="span2 center pad">2</div>
</div>
<div class="row grid-demo">
	<div class="span5 center pad">5</div>
	<div class="span4 center pad">4</div>
	<div class="span3 center pad">3</div>
</div>
<div class="row grid-demo">
	<div class="span6 center">
		6
		<div class="row">
			<div class="span3 whitebg">3</div>
			<div class="span2 whitebg">2</div>
			<div class="span1 whitebg">1</div>
		</div>
		6
	</div>
	<div class="span3 center">
		3
		<div class="row">
			<div class="span1 whitebg">1</div>
			<div class="span1 whitebg">1</div>
			<div class="span1 whitebg">1</div>
		</div>
		3
	</div>
	<div class="span3 center">
		3
		<div class="row">
			<div class="span2 whitebg">2</div>
			<div class="span1 whitebg">1</div>
		</div>
		3
	</div>
</div>
<div class="row grid-demo last">
	<div class="span7 center">
		7
		<div class="row">
			<div class="span1 whitebg">1</div>
			<div class="span1 whitebg">1</div>
			<div class="span1 whitebg">1</div>
			<div class="span1 whitebg">1</div>
			<div class="span1 whitebg">1</div>
			<div class="span1 whitebg">1</div>
			<div class="span1 whitebg">1</div>
		</div>
		7
	</div>
	<div class="span5 center">
		5
		<div class="row">
			<div class="span1 whitebg">1</div>
			<div class="span3 whitebg">3</div>
			<div class="span1 whitebg">1</div>
		</div>
		5
	</div>
</div>

{{ end }}
