<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ template "title" . }}</title>
        <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
        <link type="text/css" rel="stylesheet" href="/stylesheets/icon.css" />
    </head>
    <body>
        <section class="contents">
            {{ template "spotlight" . }}
        </section>
        <header>
            <section class="contents"><div class="row">
                <a href="/">
                    <img src="/images/torchlight_avatars/Torchlight_avatar_1.jpg" class="header-logo">
                </a>
                <ul>
                    <li><a href="/info">INFO</a></li>
                    <li><a>WORK</a></li>
                    <li><a>BLOG</a></li>
                </ul>
            </div><span class="clear"></span></section>
        </header>
        <section class="contents">
            {{ template "content" . }}
        </section>
        <footer><section class="contents"><div class="row">
            <div class="col6 footer-left">© Kevin Tjahjadi 2013</div>
            <div class="col6 last footer-right">
                <a class="gray" href="mailto:kevintjahjadi@gmail.com">
                    <span aria-hidden="true" class="icon-mail"></span></a>
                <a class="gray" href="https://plus.google.com/104708484013839509407">
                    <span aria-hidden="true" class="icon-google-plus"></span></a>
                <a class="gray" href="https://www.facebook.com/kevin.tjahjadi.3">
                    <span aria-hidden="true" class="icon-facebook"></span></a>
                <a class="gray" href="https://twitter.com/chubascode">
                    <span aria-hidden="true" class="icon-twitter"></span></a>
                <a class="gray" href="http://www.linkedin.com/pub/kevin-tjahjadi/49/b46/19">
                    <span aria-hidden="true" class="icon-linkedin"></span></a>
                <a class="gray" href="https://github.com/kevintok">
                    <span aria-hidden="true" class="icon-github"></span></a>
            </div>
        </div></section></footer>
        <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>-->
        <script>window.jQuery || document.write('<script src="/js/jquery-2.0.3.min.js"><\/script>')</script>
        <script src="/js/script.js"></script>
    </body>
</html>
