<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ template "title" . }}</title>
        <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
        <link type="text/css" rel="stylesheet" href="/stylesheets/icon.css" />
    </head>
    <body>
        <section id="contents">
            {{ template "content" . }}
        </section>
        <footer>
            My Cool APP 2013 © Kevin Tjahjadi 2013
            <!-- <span aria-hidden="true" class="icon-mail"></span>
            <span aria-hidden="true" class="icon-google-plus"></span>
            <span aria-hidden="true" class="icon-facebook"></span>
            <span aria-hidden="true" class="icon-twitter"></span>
            <span aria-hidden="true" class="icon-github"></span>
            <span aria-hidden="true" class="icon-linkedin"></span> -->
        </footer>
    </body>
</html>
