{{ define "title" }}My first APP{{ end }}
{{ define "spotlight" }}
<div class="row">
<!--     <div class="clear"></div>
    <div class="col3">&nbsp</div>
    <div class="col6 spotlight">
        <img src="/images/torchlight_avatars/Torchlight_avatar_1.jpg" class="center-align">
    </div>
    <div class="col3 last">&nbsp</div> -->
</div>
<div class="clear"></div>
{{ end }}

{{ define "content" }}
<div class="row">
	<div class="span8">
        <h1>Kevin Tjahjadi</h1>
        <p>
            Hi my name is Kevin&nbspTjahjadi and I'm currently employed as Web Developer at PT.&nbspUser&nbspInspired.
        </p>
        <p>
            I recently graduated Binus&nbspInternational University under Computer&nbspScience major in July&nbsp2013.
        </p>
        <p>
            I learned a lot during my university years. One time me and my friends developed <strong>Passion of Jesus</strong>, an iOS app developed to motivate individuals to cherish a tender devotion towards The Lord Almighty.<br>
            It was developed with Lent in mind. It contains Passion images of the events as found in Scripture and Sacred Tradition. Each images also contain reflections taken directly from the collective writings of Saint Alphonsus de Ligouri.
        </p>
        <p>
            Thinking back
        </p>
    </div>
   	<div class="span4">
        <h1>Column 2</h1>
        <a href="/parallax">Parallax</a>
        <p>Hello, and welcome to my APP!</p>
    </div>
</div>
{{ end }}
