{{ define "title" }}My first APP{{ end }}
{{ define "spotlight" }}
<div class="row">
<!--     <div class="clear"></div>
    <div class="col3">&nbsp</div>
    <div class="col6 spotlight">
        <img src="/images/torchlight_avatars/Torchlight_avatar_1.jpg" class="center-align">
    </div>
    <div class="col3 last">&nbsp</div> -->
</div>
<div class="clear"></div>
{{ end }}

{{ define "content" }}
<div class="row">
	<div class="col4">
	    <a class="btn" href="/parallax">Parallax</a>
    </div>
   	<div class="col4">
        <h1>Column 2</h1>

        <p>Hello, and welcome to my APP!</p>
    </div>
    <div class="col4 last">
        <h1>Column 3</h1>

        <p>Hello, and welcome to my APP!</p>
    </div>
</div>
{{ end }}
