{{ define "title" }}My first APP{{ end }}

{{ define "content" }}
<div class="row">
	<div class="span8">
        <h1>Kevin Tjahjadi</h1>
        <p>
            Hi my name is Kevin&nbspTjahjadi and I'm currently employed as Web Developer at PT.&nbspUser&nbspInspired.
        </p>
        <p>
            I recently graduated Binus&nbspInternational University under Computer&nbspScience major in July&nbsp2013.
        </p>
        <p>
            I learned a lot during my university years. One time me and my friends developed <strong>Passion of Jesus</strong>, an iOS app developed to motivate individuals to cherish a tender devotion towards The Lord Almighty.<br>
            It was developed with Lent in mind. It contains Passion images of the events as found in Scripture and Sacred Tradition. Each images also contain reflections taken directly from the collective writings of Saint Alphonsus de Ligouri.
        </p>
        <p>
            Thinking back to my university years, I spent majority of my time developing mobile projects. Now that I'm working in a web development company, I'm thinking of making a test website to practice <strong>this and that</strong>, thus born this website.
        </p>
    </div>
   	<div class="span4">
        <h1>Some Pages</h1>
        <a href="/parallax">Parallax</a>
    </div>
</div>
{{ end }}
